@using Strategy_Pattern
@model CheckoutModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div>
    <h3 class="display-4 m-3 text-center">Checkout</h3>
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.OrderTotal)

        <table cellpadding="0" cellspacing="0" class="table">
            <tr>
                <th>Order Total:</th>
                <td>$@Model.OrderTotal</td>
            </tr>
            <tr>
                <th>Shipping Method:</th>
                <td>
                    @Html.DropDownListFor(x => x.SelectedMethod,
                        new SelectList(Model.ShippingMethods, "Id", "Name"),
                        "- Select -",
                        new { @class = "form-control" })
                </td>
                <td class="text-left">
                    <input class="btn btn-primary" type="submit" value="Calculate" />
                </td>
            </tr>
            @if (Model.FinalTotal > 0)
            {
                <tr>
                    <th>Final Total:</th>
                    <td>$@Model.FinalTotal</td>
                </tr>
            }
        </table>
    }
</div>
