*{
    font-family: 'Rubik', sans-serif;
    color: #d1cdc7;
}

body{
    background-color: #1a1a27
}

.box-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.box {
    width: 350px;
    height: 450px;
    background-color: #111019;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.product-details {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: calc(18rem/16);
    color: white;
}

.price {
    font-weight: bold;
}

.add {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    background-color: #121212;
    color: white;
    border: none;
    border-radius: 4px;
}

.checkout-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout table {
    width: 100%;
    margin-top: 20px;
}

.checkout table tr {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout table th {
    width: 200px;
    text-align: right;
    padding-right: 10px;
    color: #999;
    font-size: calc(18rem/16);
}

.checkout table td {
    width: 200px;
    text-align: left;
    padding-left: 10px;
    color: #bcbcbc;
    font-weight: bold;
    font-size: calc(18rem/16);
}

.checkout table input {
    width: 100%;
}

.checkout table select {
    width: 200px;
    height: 30px;
    border-radius: 4px;
    background-color: #383838;
    border: none;
    outline: none;
    color: white;
}

.checkout table .button-container {
    justify-content: center;
}

.btn{
    background: #54a857;
    border-radius: 4px;
    width: 100px;
    height: 30px;

}
button{
    cursor: pointer;
}

.disabled{
    cursor: not-allowed;
    background: #54a857;
}

.actionBar{
    width: 70%;
    height: 70px;
    border-radius: 8px;
    background-image: linear-gradient(82deg,#594ae2 0%,#7467ef 100%,#594ae2 200%);
    box-shadow: 1px 5px 20px 4px rgba(110,96,236,0.75);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    padding: 20px;
    /*
    box-shadow: 0.3px 0.5px 0.4px rgb(57 43 166 / 62%), 0.3px 0.6px 0.5px -0.7px rgb(57 43 166 / 54%), 0.8px 1.6px 1.3px -1.4px rgb(57 43 166 / 46%), 2px 4.1px 3.4px -2.1px rgb(57 43 166 / 38%), 4.5px 9px 7.5px -2.9px rgb(57 43 166 / 31%), 8.5px 17.1px 14.3px -3.6px rgb(57 43 166 / 23%), 14.6px 29.2px 24.5px -4.3px rgb(57 43 166 / 15%), 23px 46px 38.6px -5px rgb(57 43 166 / 8%);
    */
}

.CheckOut-button{
    height: 50px;
    width: 120px;
    background: linear-gradient(82deg, #099773 0%, #43b692 100%);
    border-radius: 8px;
    border: none;
    
}

.CheckOut-button:hover{
    background: linear-gradient(82deg, #076c52 0%, #2B765E 100%);
}

.totalOrder{
    font-size: calc(18rem/16);
    font-weight: bold;
}

#totalCart::before{
    content: "$";
}

.checkout-container{
    display: flex;
    flex-direction: column;
    background-color: #111019;
    width: 50%;
    padding: 30px;
    border-radius: 8px;
    margin: 0 auto;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.details-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.details-item span{
    font-size: calc(18rem/16);
}

.r-detail{
    font-weight: bold;
    font-size: calc(22rem/16);
}

.total{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}

.slShipping{
    background-color: #3b3b3b;
    color: #c8c3b0;
}
